/target
Cargo.lock
debug/
release/
*.rs.bk
*.rlib
*.prof*
*.log
.env*
.vscode/
Thumbs.db
*.tmp
*.swp
.idea
*.iml
.gradle
out/
bin/
build/
gen/
deps/
exampleProject
testData
.DS_Store
/pretty_printers_tests/target
/native-helper/target
/attributes-info/target
